.fondo {
    background-color: black;
}

.quienes_somos {
    text-align: center;
    color: white;
    border-bottom:solid 2px grey;
    width:100%;
    height:75px;
}

.destacados {
    text-align: center;
    color: white;
    border-bottom:solid 2px grey;
    width:100%;
    height:75px;
}

.contacto {
    text-align: center;
    color: white;
    border-bottom:solid 2px grey;
    width:100%;
    height:75px;
}
#exampleInputMensaje1{
    height: 300px;

}
.viajes_chile {
    color: white;
}
